body {
    font-family: 'Arimo', sans-serif;
}

.main-content {
    margin-top: 60px;
}

.main-card {
    border: none;
    border-radius: 10px;
    background-image: url('../bg.png');
    /*background-color: yellow;*/
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
    margin-bottom: 30px;
    max-height: 700px;
}

.main-card #add_manufacturer {
    padding: 0px 30px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.main-card #add_product {
    padding: 0px 50px;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.main-content .toolbar .card {
    background-color: #fe8000;
    border: none;
    border-radius: 10px;
}

.main-card #add_manufacturer {
    padding: 0px 30px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.main-card .btn_edit {
    border-radius: 50%;
    color: green;
    border: none;
    background-color: transparent;
    margin-right: 8px;
}

.main-card .btn_edit:hover {
    background-color: green;
    color: white;
}

.main-card .btn_delete {
    background-color: transparent;
    color: red;
    border: none;
    border-radius: 50%;
}

.main-card .btn_delete:hover {
    background-color: red;
    color: white;
}

.main-card .view_details {
    background-color: transparent;
    margin-top: 2rem;
    border-radius: 0px;
    max-height: 450px;
    min-height: 450px;
    border: none;
    overflow-y: scroll;
}

.main-card .view_details ul li {
    margin: 10px 5px;
    border-radius: 10px;
    background-color: #fedaae;
}

.main-card .product_details label {
    font-weight: 500;
    font-size: 1.2rem;
}

.main-card .product_details input,
.main-card .product_details select {
    height: 45px;
}

.main-card .product_details .submit_btn {
    margin-top: 30px;
}

.main-card .product_details .submit_btn button {
    width: 200px;
    height: 50px;
}

.btn_submit {
    background-color: #fe8a00;
    color: white;
    font-weight: 600;
    border: none;
}

.product_details #add_itemDiv .btn_add {
    border: #fe8000;
    color: #fe8000;
}

.product_details #add_itemDiv .btn_add:focus,
.product_details #add_itemDiv .btn_add:hover {
    background-color: #ffa333;
    color: white;
}

.display_card {
    max-height: 400px;
}

.display_card ul li img {
    height: 70px;
    width: 70px;
    object-fit: cover;
}

.display_card ul li {
    border-left: 4px solid #fe8a00;
    background-color: #f8e5b4;
    margin: 8px 0px;
}

.display_card .item_list {
    overflow-y: scroll;
}

.display_card .item_list::-webkit-scrollbar {
    width: 0;
}

.product_details #add_itemDiv .btn_add {
    border: 1px solid #fe8000;
    color: #fe8000;
}

.product_details #add_itemDiv .btn_add:focus,
.product_details #add_itemDiv .btn_add:hover {
    background-color: #ffa333;
    color: white;
}

.title {
    background-color: #fe8a00;
    color: white;
}

.btn_submit:hover,
.btn_submit:focus {
    background-color: #ffa333;
    color: white;
    border: none;
}

.img_jewel {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.main-card .product_details .inputs {
    padding: 12px 3px;
}

.main-card .view_details {
    background-color: transparent;
    margin-top: 2rem;
    border-radius: 0px;
    max-height: 450px;
    min-height: 450px;
    border: none;
    overflow-y: scroll;
}

.main-card .view_details ul li {
    margin: 10px 5px;
    border-radius: 10px;
    background-color: #fedaae;
}

.btn-menu {
    background-color: #fe8a00;
    color: white;
}

.btn-menu span {
    vertical-align: middle;
}

.btn-menu i {
    vertical-align: middle;
}

.btn-menu:hover,
.btn-menu:focus {
    background-color: #ffa333;
    color: white;
}

.main-card .btn_edit {
    border-radius: 50%;
    color: rgb(7, 190, 7);
    border: none;
    background-color: transparent;
    margin-right: 8px;
}

.main-card .btn_edit:hover {
    background-color: rgb(7, 190, 7);
    color: white;
}

.main-card .btn_delete {
    background-color: transparent;
    color: red;
    border: none;
    border-radius: 50%;
}

.main-card .btn_delete:hover {
    background-color: red;
    color: white;
}

.main-card .img-box {
    margin-top: 2.5rem;
    overflow: hidden;
}

.main-card .img-box .photo {
    height: 250px;
    width: 100%;
    border-radius: 10px;
    position: relative;
    border: 3px dashed #fe8a00;
}

.main-card .img-box .photo img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    z-index: -5;
}

.main-card .img-box .photo_add {
    top: 0;
    height: 250px;
    width: 100%;
    border-radius: 0px 0px 6px 6px;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
}

.main-card .img-box .photo_add label {
    width: 100%;
    height: 100%;
}

.main-card .img-box .img-details {
    margin-top: 10px;
}

.main-card .img-box .img-details label {
    font-weight: 500;
    font-size: 1.2rem;
}

.main-card .img-box .img-details p {
    font-size: 0.9rem;
    color: gray;
}

.title {
    background-color: #fe8a00;
    color: white;
}

.disable {
    opacity: 0.3;
    pointer-events: none;
}

#product_table thead {
    position: sticky;
    top: 0px;
}

#product_table tbody .btn {
    padding: 3px 5px;
    border: none;
    border-radius: 50%;
    color: #fe8000;
}

#product_table tbody .btn i {
    vertical-align: middle;
}

#itemWiseReport tbody .btn {
    padding: 3px 5px;
    border: none;
    border-radius: 50%;
    color: #fe8000;
}

#itemWiseReport tbody .edit_btn:hover {
    /*background-color: darkgreen;*/
    background-color: #fe8000;
    color: white;
}

#itemWiseReport tbody .del_btn:hover {
    /*background-color: darkred;*/
    background-color: #fe8000;
    color: white;
}

#product_table tbody .print_btn:hover {
    /*background-color: darkblue;*/
    background-color: #fe8000;
    color: white;
}

#product_table tbody .edit_btn:hover {
    /*background-color: darkgreen;*/
    background-color: #fe8000;
    color: white;
}

#product_table tbody .del_btn:hover {
    /*background-color: darkred;*/
    background-color: #fe8000;
    color: white;
}

.top {
    margin-top: 5px;
    padding: 0px 15px;
    padding-bottom: 6px;
    display: flex;
    justify-content: space-between;
}

.top .dataTables_filter input {
    min-width: 25rem;
    height: 2rem;
}

.top .dataTables_length label {
    padding-left: 150px !important;
}

.top .dataTables_length label select {
    height: 2rem;
    min-width: 5rem;
    text-align: center;
}

.top .paginate_button a {
    color: black;
    font-weight: 500;
    box-shadow: none;
}

.top .pagination .active a {
    background-color: #fe8a00;
    border: 1px solid #fe8000;
    color: white;
}

.bottom {
    border-top: 1px solid lightgray;
    padding: 3px 15px;
    display: flex;
    justify-content: space-between;
}

.top .dataTables_info {
    color: black;
    font-weight: 400;
    margin-top: -10px;
}

.bottom .paginate_button a {
    color: black;
    font-weight: 500;
    box-shadow: none;
}

.bottom .pagination .active a {
    background-color: #fe8a00;
    border: 1px solid #fe8000;
    color: white;
}

.offcanvas {
    max-width: 15rem;
}

.offcanvas-body {
    padding: 0px 0px;
}

#Menu_heading {
    border-bottom: 0.1rem solid lightgray;
    padding-top: 0.3rem;
    background-color: #fe8a00;
    color: white;
}

#Customer {
    margin-top: 0.6rem;
    border-bottom: 0.01rem solid lightgray;
}

#Customer img {
    margin-bottom: 0.3rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
}

#Menu_options ul li a {
    display: block;
    padding: 0.8rem;
    text-decoration: none;
    border-bottom: 0.1rem solid lightgray;
    color: #fe8a00;
}

#Menu_options ul li a:hover {
    background-color: #fe8a00;
    color: white;
    transition: all 0.3s ease;
}

#Menu_options ul li a.active {
    background-color: #fe8a00;
    color: white;
    transition: all 0.3s ease;
}

#Menu_options ul li a i {
    vertical-align: middle;
    font-size: 20px;
    padding-right: 15px;
    display: none;
}

#Menu_options ul li a span {
    vertical-align: middle;
    font-weight: 600;
    font-size: 16px;
    padding-right: 10px;
}

#itemModal .product_details input {
    height: 45px;
}

#itemModal .product_details .inputs {
    padding: 12px 3px;
}

#itemModal .product_details .inputs label {
    font-weight: 500;
    font-size: 1.2rem;
}

.item_card {
    max-height: 550px;
}

.table_items thead th {
    background-color: black;
    color: white;
    position: sticky;
    top: 0;
}

.table_items tbody tr td input {
    height: 2rem !important;
}

.table_items tbody tr td img {
    height: 1.9rem;
    width: 1.9rem;
    object-fit: cover;
}

.numberInput::-webkit-outer-spin-button,
.numberInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#printManfacture .gold_view {
    border-radius: 10px;
}

#printManfacture .gold_view img {
    height: 9cm;
    width: 100%;
}

#ViewModal .modal-header {
    background-color: #fe8000;
    color: white;
}

#table_container {
    max-height: 380px;
}

#table_container #viewDetailTable thead th {
    position: sticky;
    top: 0;
    background-color: black;
    color: white;
}

#table_container #viewDetailTable {
    counter-reset: tableCount;
}

#table_container #viewDetailTable .rowCount:before {
    content: counter(tableCount);
    counter-increment: tableCount;
}

#loader {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    width: 100px;
    height: 100px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #fe8a00;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#back-to-top {
    position: fixed;
    text-decoration: none;
    visibility: visible;
    opacity: 1;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
    background: #fe8000;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
}

#back-to-top i {
    font-size: 24px;
    color: #fff;
    line-height: 0;
}

#back-to-top:hover {
    background: #ffa333;
    color: #fff;
}

#back-to-top.active {
    visibility: visible;
    opacity: 1;
}

#printManfacture .img_card {
    height: 500px;
}

#printManfacture .img_card .img_container {
    height: 460px;
}

#printManfacture .img_card .img_container img {
    height: 460px;
}

#itemWiseReport tbody .btn {
    padding: 3px 5px;
    border: none;
    border-radius: 50%;
    color: #fe8000;
}

#itemWiseReport tbody .btn i {
    vertical-align: middle;
}

#itemWiseReport tbody .print_btn:hover {
    /*background-color: darkblue;*/
    background-color: #fe8000;
    color: white;
}

.small_card {
    background-color: #fe8000;
    color: white;
    border: none;
}

.main-content .summary_card {
    max-height: 500px;
    min-height: 500px;
    border: 1px solid #fe8000;
}

.main-content .summary_card .card-header {
    background-color: #fe8000;
    color: white;
}

.main-content .summary_card .table_division {
    max-height: 500px;
}

.main-content .summary_card .table_division table thead th {
    background-color: grey;
    font-size: 18px;
}

#myTab .nav-link {
    border: 1px solid #fe8000;
    border-radius: 10px;
    color: black;
    text-decoration: none;
    width: 200px;
}

#myTab {
    border: none;
    margin-bottom: 20px;
    display: flex;
    justify-content: start;
}

#myTab .nav-item {
    border: none;
}

#myTab .nav-item .active {
    background-color: #fe8000;
    color: white;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (min-width: 1024px) {
    #itemModal {
        /*Places modal center of the page*/
        position: fixed;
        top: 50%;
        left: 32%;
        transform: translate(-50%, -50%);
        width: fit-content;
        height: fit-content;
        padding: 0 !important;
        overflow: visible !important;
        /* end */
    }
}

@media only screen and (max-width: 480px) {
    .offcanvas {
        max-width: 75%;
    }
    .main-card {
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 10px;
        margin-bottom: 30px;
        max-height: 80vh;
    }
    .main-card #add_product {
        padding: 0px 0px;
        margin-top: 0px;
        margin-bottom: 1.2rem;
    }
    .main-card .product_details .inputs {
        padding: 5px 3px;
    }
    .main-card .product_details .submit_btn {
        margin-top: 20px;
    }
    .main-card .img-box {
        margin-top: 0px;
        overflow: hidden;
    }
    .main-card .img-box .photo {
        height: 90px;
        width: 90px;
        border-radius: 10px;
        position: relative;
    }
    .main-card .img-box .photo img {
        width: 100%;
        height: 100%;
        border-radius: 6px;
        z-index: -5;
    }
    .main-card .img-box .photo_add {
        top: 0;
        height: 100%;
        width: 100%;
        border-radius: 0px 0px 6px 6px;
        background-color: rgba(0, 0, 0, 0);
        position: absolute;
    }
    .main-card #add_manufacturer {
        padding: 0px 5px;
        margin-top: 0rem;
        margin-bottom: 0rem;
    }
}